# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Sebastian Julajuj\#USAC\Cuarto Semestre\Lab Lenguajes\Ejercicios Gordi\Ej1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
